{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}

{% if messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  {% for message in messages %}
  <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
  {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<style>
  .ic {
 padding: 10px 15px;
 
  text-align: center;
  text-decoration: none;
 
  border-radius: 70%;
}

  /* .fa {
 padding: 10px 15px;
  font-size: 100px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
    margin: 10px 15px;
  border-radius: 70%;
}



.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
} */

  .temp {

    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
</style>

<body>
  <div class="" >
    <img src="{% static 'images/index_bg_2.jpg' %}" alt="" style="width: 100%; height: 100%;">
    <div class="content temp">
      <h1 class="text-white font-weight-bold" >Welcome to Level-Up</h1>
      <br>
      
      <h5 style="font-weight: lighter; font-size: x-small;">"Education is not learning of the facts instead it is the training of mind to think" <b>- Albert Einstein</b></h5>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<hr class="bg-secondary">
  <!-- <div class="container  ">

    <div class="section-heading">
      <h1>Our Services</h1>
      <div class="line-dec"></div>
      <span>Our Web Platform provides following features for Teachers and Students.

      </span>
      <br>
      <br>
      <br>
    </div> 


    <div class="left-image-post">
      <div class="row">
        <div class="offset-sm-1 col-md-5">
          <div class="left-image">
            <img class="img-fluid rounded " style="width:100%; height:400px;" src="{% static 'images/smart_school.gif' %}"
              style="width:100px;height:100px;" alt="" />
          </div>
        </div>

        <div class="col-md-5">
          <div class="service-item second-service-icon service-icon">
            <h2 class="text-center">For Student</h2>
            <p class="text ">
              <ol class="text-justify">
                <li> Students can log in to the portal and stay up to date on all of the events in the classroom. </li>
<li>In the Class Notice option, students can see the notice delivered by their teacher.</li>
<li>Students can download their assignments and submit them using the Assignments option(It is not possible to modify an assignment once it has been submitted.)</li>
<li> Students can send a message to any instructor in the All Teachers List. </li>
<li>In the Marks option, students can check their grades.</li>
                
                <br>
              </ol>
            </p>
          </div>
        </div>

      </div>
    </div>
    <hr>


    <div class="right-image-post">
      <div class="row">
        <div class="offset-sm-1 col-md-5 order-last order-md-first">
          <div class="service-item second-service-icon service-icon">
            <h2 class="text-center">For Teacher</h2>
            <p class="text">
              <ol class="text-justify">
                <li>Teachers can use the Add Student option to add students to their class. </li>
<li>After adding students to their class, the teacher can assign or adjust grades to their students.</li>
<li>Teachers can also compose a note that will be sent to their entire class.</li>
<li>Teachers can use the upload assignment option to upload assignments.</li>
<li>Teachers can review their student's assignments and assign grades accordingly.</li>
<li>A teacher can see all of the grades they've awarded a student by going to their Marks profile and also Make changes to their marks.</li>
                <br>
              </ol>
            </p>
          </div>
        </div>
        <div class=" col-md-5 order--last">
          <div class="right-image">
            <img class="img-fluid rounded " style="width:100%; height:400px" src="{% static 'images/teachers_3.gif' %}"
               alt="" />
          </div>
        </div>



      </div>
    </div>
  </div> -->
  <div class="container  ">

    <div class="section-heading">
      <h1>Digital Learning</h1>
      <div class="line-dec"></div>
      <span>A Platform for Student & Teacher.

      </span>
    </div> 
  <div class="research">
    <!-- <div class="section-heading ">
      <h1 class="">Digital Learning</h1>
      <div class="line-dec"></div>
      <span>A Complete Class Management Platform for Student & Teacher.
      </span>
    </div> -->
  
    <div class="row">

      <div class="offset-md-1 col-md-4">
        <img class="rounded" src="{% static 'images/digital.gif' %}" alt="">
      </div>
      <div class="col-md-6">

        <div class="digital-content">

          <div class="card card-body bg-dark">
            <blockquote class="blockquote">

              <p class="d-none d-sm-block">Level-Up is a free blended learning platform developed for digital learning that aims to facilitate the need to learn new stuffs without the need for direct contact. Level Up has a variety of tools that make it appropriate for use in a classroom environment. From creating content to grading it, later on, this eLearning platform has it all. Teachers and Students, on the other hand, get an all-in-one best Digital Learning experience here.</p>
              

            </blockquote>
          </div>


        </div>
      </div>
    </div>
</div>
</div>
<div class="container  ">

  <div class="section-heading">
    <h1>Level-Up Services</h1>
    <div class="line-dec"></div>
    <span>This Web Platform provides following features for Teachers and Students.

    </span>
    <br>
    <br>
    <br>
  </div> 


  <div class="left-image-post">
    <div class="row">
      <div class="offset-sm-1 col-md-5">
        <div class="left-image">
          <img class="img-fluid rounded " style="width:100%; height:400px;" src="{% static 'images/smart_school.gif' %}"
            style="width:100px;height:100px;" alt="" />
        </div>
      </div>

      <div class="col-md-5">
        <div class="service-item second-service-icon service-icon">
          <h2 class="text-center">For Student</h2>
          <p class="text ">
            <ol class="text-justify">
              <li> Students can log in to the portal and stay up to date on all of the events in the classroom. </li>
<li>In the Class Notice option, students can see the notice delivered by their teacher.</li>
<li>Students can download their assignments and submit them using the Assignments option(It is not possible to modify an assignment once it has been submitted.)</li>
<li> Students can send a message to any instructor in the All Teachers List. </li>
<li>In the Marks option, students can check their grades.</li>
              
              <br>
            </ol>
          </p>
        </div>
      </div>

    </div>
  </div>
  <hr>


  <div class="right-image-post">
    <div class="row">
      <div class="offset-sm-1 col-md-5 order-last order-md-first">
        <div class="service-item second-service-icon service-icon">
          <h2 class="text-center">For Teacher</h2>
          <p class="text">
            <ol class="text-justify">
              <li>Teachers can use the Add Student option to add students to their class. </li>
<li>After adding students to their class, the teacher can assign or adjust grades to their students.</li>
<li>Teachers can also compose a note that will be sent to their entire class.</li>
<li>Teachers can use the upload assignment option to upload assignments.</li>
<li>Teachers can review their student's assignments and assign grades accordingly.</li>
<li>A teacher can see all of the grades they've awarded a student by going to their Marks profile and also Make changes to their marks.</li>
              <br>
            </ol>
          </p>
        </div>
      </div>
      <div class=" col-md-5 order--last">
        <div class="right-image">
          <img class="img-fluid rounded " style="width:100%; height:400px" src="{% static 'images/teachers_3.gif' %}"
             alt="" />
        </div>
      </div>



    </div>
  </div>
</div>
<hr>
  <div class="row justify-content-center">
    <div class="col-auto">
      <p> <b> -Disha Gupta,</b> Microsoft Engage Program </p>
      <a href="https://www.linkedin.com/in/disha-gupta-430188173" class="github"><i class="fa fa-linkedin ic" style="font-size:48px;color: #007bb5;"></i></a>
      <a href="https://github.com/disha03" class="github"><i class="fa fa-github ic" style="font-size:48px;color:white"></i></a>
      <a href="" class="github ic"><i class="fa fa-facebook" style="font-size:48px;color:#3B5998;"></i></a>
    
    </div>
  </div>
  </div>

  </div>
</body>
{% endblock %}